body {font-family: 'Teko', sans-serif;
margin: 0%;}
h1{font-size: 50px;}
.regacok {color: orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 70px;}
h3{font-size: 40px;
color: rgb(6, 28, 126);}
p{;
grid-column: auto;
font-size: 20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{display: inline-block;}
section{display: flex;}
.tata{width: 50%;
padding: 5%;}
.tata img{width: 90%;}
.opop{text-decoration: none;
    font-size: xx-large;
background-image: linear-gradient(red, pink);
color:black;
padding:10px 20px;
font-weight: 700;
border-radius: 5px;}
.lolo{ background-image: url(pix/toto.jpg);
background-repeat: no-repeat;
background-size: 100%;}
.ali{background-image: url(pix/alu.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
padding: 30px;
display: flex;}
.ali img{width: 80%;}
.jiji{padding-top: 100px;}
.pupu {font-size: 50px;}